{% extends "base.html" %}
{% block container %}
<h1>Välkommen</h1>

<div class = "skrift"><p> Detta är en reviewsite.</p></div>



<form method="POST" action="/">
  {{ form.csrf_token }}

  <div class = "billie">
    {{ form.movie.label }}
    {{ form.movie }}
  </div>

  <div class = "billie2">
    {{ form.message.label }}
    {{ form.message }}
  </div>

  <div class = "billie3">
    {{ form.submit }}
  </div>
</form>


<ul>
  {% for review in reviews %}
    <li><p>{{review.movie}}<br>
      {{review.message}}</p>
      <a href="{{ url_for('main.remove', id=review.id) }}"> Remove </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
